

main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#product-list > div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#product-list h3 {
    margin: 0;
}

#product-list p {
    margin: 5px 0;
}

#product-list button {
    margin-right: 5px;
    background-color: #008CBA;
}

#product-list button:hover {
    background-color: #005f75;
}
